/* General footer styling */
footer {
    background-color: #3f51b5; /* Blue background color */
    width: 100%;
    position: relative;
    bottom: 0;
}

/* Grid row styling for horizontal layout */
.footer .row.text-center.d-flex.justify-content-center {
    display: flex;
    flex-wrap: wrap;
}

/* Column styling */
.footer .row.text-center.d-flex.justify-content-center .col-md-2,
.footer .row.text-center.d-flex.justify-content-center .col-md-3,
.footer .row.text-center.d-flex.justify-content-center .col-md-4 {
    flex: 1;
    max-width: 25%; /* Adjust percentage as needed */
    min-width: 100px; /* Adjust to your preference */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .footer .row.text-center.d-flex.justify-content-center .col-md-2,
    .footer .row.text-center.d-flex.justify-content-center .col-md-3,
    .footer .row.text-center.d-flex.justify-content-center .col-md-4 {
        max-width: 50%;
    }
}

/* Text color for footer links and text */
footer h6 a,
footer p,
footer a {
    color: white; /* White text color */
}

/* Copyright section styling */
.footer .text-center.p-3 {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

.footer .text-center.p-3 a {
    color: white;
}
